streamlit==1.35.0
rich==13.7.1             # Compatible con streamlit
transformers==4.39.3     # Última que funciona bien en 3.10
torch==2.2.0             # Compatible con transformers 4.39+
sentencepiece
datasets
pandas
numpy
matplotlib
wordcloud
google-generativeai==0.3.2
